{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article>
        <header>
          <h6 class="is-size-6">{{ page.date | date("F j, Y") }}</h6>
          <h2 class="is-size-2 mb-5">{{ page.title }}</h2>
        </header>
        <div class="content mb-4">
            {{ page.blocks.content|raw }}
        </div>
        {% if page.categories %}
            <p class="categories mb-3">
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if page.tags %}
            <p class="tags mb-3">
            Tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}

        {% if page.previous_post or page.next_post %}
        <hr>
        <nav class="article is-flex is-justify-content-space-between is-flex-wrap-nowrap">
          {% if page.previous_post %}
          <div>
            <a class="previous is-italic" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
              <span class="is-size-5">← {{ page.previous_post.title }}</span>
            </a>
          </div>
          {% endif %}
          {% if page.next_post %}
          <div>
            <a class="next is-italic" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
              <span class="is-size-5">{{ page.next_post.title }} →</span>
            </a>
          </div>
          {% endif %}
        </nav>
        {% endif %}
    </article>

{% endblock %}
