{{ define "main" }}
<div class="container mx-auto">
  <h1 class="text-4xl font-extrabold mt-6 mb-2 text-center">{{ .Title }}</h1>
  <div class="mb-3 text-sm">
    {{ if .Params.tags }}
    <div class="text-center">
      {{ range (.GetTerms "tags") }}
        <a class="ml-1" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
      {{ end }}
    </div>
    {{ end }}
    <div class="text-center">
      {{ if (ne .Type "page") }}
        {{ .PublishDate | time.Format (T "timeformat") }}
      {{ end }}
      {{ if .Draft }}
      <span class="ml-3 tag">
        DRAFT
      </span>
      {{ end }}
    </div>
  </div>
  <main class="mb-8">
    <p>{{ .Description | markdownify | safeHTML }}</p>
    <article class="md">
      {{ .Content }}
    </article>
  </main>
  {{ partial "plugin.html" . }}
</div>
{{ end }}
