header
  nav.nav(role='navigation', aria-label='main navigation')
    .container
      .nav-left.is-vertical-align
        - 
          var items = [
            {key: 'index', link: '/', label: 'Home'},
            {key: 'portfolio', link: '/portfolio.html', label: 'Portfolio'},
            {key: 'notes', link: '/notes.html', label: 'Notes'},
          ]
        .tabs
          each item in items
            a(class= activeNavItem === item.key ? 'active' : '', href=item.link)= item.label
        a.button.primary(href='/media/cv.pdf') View CV
      .nav-right.is-vertical-align
        span By Holy-Elie Scaide
