doctype html
html
  head(lang='en')
    title Hi, I&rsquo;m Holy-Elie Scaide
    meta(charset='utf-8')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(rel='stylesheet', href='https://unpkg.com/chota@latest')
    link(rel='stylesheet', href='/style.css')
  body
    block nav
      - var activeNavItem = "index"
    include header.pug
    main.container.p-6
      block contents
    include footer.pug
    script(src='./app.js')
    link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap', rel='stylesheet')