{{ define "main" }}
<main class="home">
    <p class="description">{{.Page.Content }}</p>
  {{ range (where .Site.RegularPages "Section" "notes").GroupBy "CurrentSection" }}
  <h3 class="section-title">{{ .Key.Title }}</h3>
    {{ range .Pages }}
      {{ if ne .Page.Layout "search" }}
      <div>
        {{ if .Page.Params.link }}
        <a class="" href="{{ .Page.Params.link }}">{{ .Title }}</a>
        {{ else }}
        <a class="" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      </div>
      {{ end }}
    {{ end }}
  {{ end }}
</main>
{{ end }}
