extends ../layout/master.pug

block nav
  - var activeNavItem = "notes"

block contents
  - var title = 'Notes';
  include ../layout/page-header.pug
  p Below are all my notes in no particular order.
  h1 Workflow
  ul
    li
      a(href='/notes/apps-I-use-daily.html')
        | Apps I use daily
  h1#Programming React
  ul
    li
      a(href='/notes/the-usage-of-react-hooks.html') The usage of React Hooks
    li
      a(href='/notes/writing-native-modules.html') Writing Native Modules
    li
      a(href='/notes/my-react-native-template.html') My React Native template
    li
      a(href='/notes/how-i-understand-react.html') How I understand React
  h1#DevOps DevOps
  ul
    li
      a(href='/notes/a-day-with-ansible.html') A day with Ansible`