extends ../layout/master.pug

block nav
  - var activeNavItem = "portfolio"

block contents
  - var title = 'Portfolio';
  include ../layout/page-header.pug
  h1 What I&rsquo;ve done
  p
    strong 2021
  ul
    li
      | Built a React Native  
      a(href='https://apps.apple.com/us/app/inkleind-bandsaw-tensioning/id1546926710') application 
      | that helps to properly tension your bandsaw using its vibration for  
      a(href='https://www.shoppassportjourneys.com/') Inkleind
    li Helped refactor a Java Spring Boot Application to AWS Lambda (Java)
    li
      | Mentored Junior Developers in how to integrate a new feature in a legacy PHP application
    li Helped with a transition in code ownership of a legacy Mobile Ionic 1 App.
  p
    strong 2020
  ul
    li
      | Built a React Native 
      a(href='https://apps.apple.com/gb/app/passport-journeys/id1502438397') application
      | focused on improving relationship named 
      a(href='https://www.shoppassportjourneys.com/') Passport Journeys
    li
      | Built a React Native 
      a(href='https://apps.apple.com/gb/app/proelio-health/id1475005228') application
      | aimed to help people live a better, happier and healthier life for 
      a(href='https://proeliohealth.com/') Proelio Health
  p
    strong 2018 - 2019
  ul
    li
      | Coded a 3D file conversion program from 
      a(href='https://en.wikipedia.org/wiki/FBX') FBX
      |  to 
      a(href='https://playcanvas.com/') PlayCanvas
      | &rsquo; JSON format for Herth.
    li
      | Updated an Android app to add data synchronization alongside some other features. Without
      | access to the
      | source code as the client have lost it. I was hired by 
      a(href='http://camphickoryhill.com/')
        | Camp Hickory
        | Hill
    li
      | Built a web application with Laravel and React for 
      a(href='https://textmyguests.com/') TextMyGuests
    li
      | Updated a React Native application for 
      a(href='https://www.behaviorsoft.com/cost_and_value') Behaviorsoft
      | .
    li
      | Built a multi-page survey in React (A lot of custom components required for the user
      | experience) for
      strong &lt;div&gt;ersity PBC
    li
      | Started working with various companies in the U.S. through 
      a(href='https://noukod.com/') NouK&ograve;d
      | , a local agency.
  p
    strong 2017
  ul
    li
      | Created a quiz application for a friend. What I was most proud of was the built-in package
      | management
      | system, allowing installation, update and removal of a set of questions. It was built for
      | Android with
      | Kotlin`