<h1>Hi, I&rsquo;m Holy-Elie Scaide</h1>
<p>I&rsquo;m a Software Engineer. I design and implement software solutions to business and social issues.</p>
<p>This is how I always introduce myself. My standpoint is that technology, in particular software systems, can and should be created to ease humans lives. My goal is to make interactions between us and other systems fluid and impactful in reaching that optimal productive state.</p>
<p>My core drive in life is learning. I&rsquo;m always open to fruitful discussion and sharing knowledge with everyone. My other hobbies are music, drawing, and reading fantasy books.</p>
<p>I&rsquo;ve lived my entire life in Haiti.</p>
<p>These days, I&rsquo;m working as a freelancer.</p>
<p id="me">
  <img src="/media/me.jpg" alt="profile_pic" />
</p>
