---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
<article class="mb-6">
  <header>
    <h6 class="is-size-6">{{ post.date | date("F j, Y") }}</h6>
    <h2 class="is-size-2 mb-5"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  </header>
  <div class="content mb-2">
    {{ post.blocks.content|raw }}
  </div>
  {% if post.meta.tags %}
  <p class="tags mb-2" >
    Tags:
    {% for tag in post.meta.tags %}
    <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
</article>
<hr>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
<nav class="article is-flex is-justify-content-space-between is-flex-wrap-nowrap">
  {% if page.pagination.next_page %}
  <div>
    <a class="previous is-italic" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Older Posts">
      <span class="is-size-5">← Older Posts</span>
    </a>
  </div>
  {% endif %}
  {% if page.pagination.previous_page %}
  <div>
    <a class="previous is-italic" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Newer Posts">
      <span class="is-size-5">Newer Posts →</span>
    </a>
  </div>
  {% endif %}
</nav>
{% endif %}
