<header>
  <nav class="nav" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="nav-left is-vertical-align">
        <div class="tabs">
          <a href="/">Home</a>
          <a href="/portfolio.html">Portfolio</a>
          <a href="/notes.html">Notes</a>
        </div>
        <a class="button primary" href="/media/cv.pdf">View CV</a>
      </div>
      <div class="nav-right is-vertical-align">
        <span>By Holy-Elie Scaide</span>
      </div>
    </div>
  </nav>
</header>
