<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Hi, I&rsquo;m Holy-Elie Scaide</title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
      <main class="container p-6">
	  {% include "layout/header.html" %}
	  <article>
	      {% block contents %}
	      {% endblock %}
	      {% include "layout/footer.html" %}
	  </article>
    </main>

  </body>
</html>
